.flex {
    display: flex;
}


.justify-content {
    justify-content: center;
}
.align-items {
    align-items: center;
}
.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}



.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

h1 {
    
}

h2 {

}

h3 {

}

p {

}