:root {
    --primary-color: #1a73e8;
    --secondary-color: #ff6b6b;
    --accent-color: #dedede;
    --background-light: #ebebeb;
    --background-dark: #1a1a1a;
    --text-light: #2b2b2c;
    --text-dark: #e5e7eb;   
    --success-color: #10b981;    
    --error-color: #ef4444; 
    --warning-color: #f59e0b;

    --font-primary: 'Inter', sans-serif;

    --glass-border: rgba(255, 255, 255, 0.225);
    --global-shadow: 3px 4px 6px rgba(38, 38, 38, 0.3);

    --border-radius: 14px;
    --border-line: 3px solid var(--secondary-color)
}   