@import 'base/variables.css';

.button {
    border-radius: 24   px;
    padding: 0.75rem 1.5rem;    
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    border: none;
    color: white;
    font-size: 1rem;
}

.button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(1px);
}

.primary-btn {
   background-color: var(--primary-color);
}

.outline-btn {
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.secondary-btn {
    background-color: var(--secondary-color);
}

.danger-btn {
    background-color: var(--error-color);
}

.success-btn {
    background-color: var(--success-color);
}