
.footer {
    background-color: var(--primary-color);
    color: var(--text-dark);
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.footer-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    min-width: 230px;
    margin-bottom: 1rem;
}

.footer-section h4 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: var(--text-dark);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: var(--secondary-color);
}


.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}


@media screen and (max-width: 768px) {
    .footer-section {
        flex: 0;
        min-width: 170px;
        margin-bottom: 1rem;
        text-align: center;
    }

    .footer-content {
        gap: 1rem;
        max-width: 100%;
    }
    
}