.sidebar {
    width: 250px;
    height: 100%;
    background: var(--primary-color);
    color: white;
    padding: 1.5rem;
    position: fixed;
    left: 0;
    top: 5.7em;
    /* overflow-y: scroll; */
  }
  
  .sidebar-nav a {
    display: block;
    padding: 1.2rem;
    text-decoration: none;
    color: white;
  }
  
  .sidebar-nav a:hover {
    background: var(--primary-color);
  }
  

@media screen and (max-width: 850px) {
    .sidebar {
        top: 4.8rem;
    }
}