

.hero {
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0% ;
    background-color: var(--primary-color);
    height: 100vh;
    animation: slideFromTop 0.9s ease-in-out;
}


.svg {
  animation: float 2s ease infinite;
}