.transaction-page .global-card {
    margin-bottom: 2rem;
}

.transfer-page .global-card {
    height: 40vh;
    width: 60vw;
}

.transfer-page .form-group .input-field {
    max-width: 90%;
}


.wallet-page {
    gap: 2rem;
}

.wallet-page .visa .global-card {
    height: 30vh;
    align-items: flex-start;
}

.wallet-page .visa .global-card hr {
    width: 100%;
}

.wallet-page .visa .global-card .card-details {
    width: 100%;
}

.wallet-page .visa .global-card .card-label {
    color: var(--secondary-color);
}

.activate-card {
    display: none;
}

.wallet .global-card {
    width: 60vw;
    height: 35vh;
    align-items: flex-start;
}

.wallet .global-card .input-field {
    width: 50%;
}


.wallet .wallet-details {
    width: 100%;
}


.deposite {
    width: 100%;
}

.wallet .deposite .input-field {
    width: 55%;
}

.wallet .deposite .deposite-btn {
    width: 40%;
}

.wallet-page .row2 .wallet-create .global-card {
    height: 30vh;
}

.row2 {
    width: 80vw;
    justify-content: space-evenly;
}

.row2 .card-container .global-card {
    width: 30vw;
}


@media screen and (max-width: 786px) {
    .row2 {
        flex-direction: column ;
        gap: 2rem;
    }

    .row2 .card-container .global-card {
        width: 80vw;
    }
    
    .wallet .global-card{
        width: 90vw;
    }

    .sidebar-margin {
        margin: 0;
    }
}

.dashboard-cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.dashboard-cards {
    width: 20%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span-2 {
    width: 40%;
}

.dashboard .chart{
    width: 60vw;
}

.dashboard {
    margin-top: 3rem;
}



@media screen and (max-width: 786px) {
    .dashboard .chart {
        width: 100vw;
        margin-top: 3rem;
    }

    .dashboard-cards-container {
        margin-top: 6rem;
    }

    .dashboard-cards {
        width: 40%
    }

    .span-2 {
        width: 80%;
    }
    
}

.qr-code {
    height: 30vh;
    width: 40vw;
}

.qr-form{
    width: 100%;
    height: 100%;
}