.login-page {
    width: 100%;
    height: 100%;
}

.login-design {
    clip-path: ellipse(36% 70% at 98% 50%);
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
    animation: slideFromRight 0.8s ease-in-out;
    
}

.login-svg {
    height: 25rem;
    width: 25rem;
    position: absolute;
    right: 6rem;
    top: 10rem;
    animation: float 3s ease-in-out infinite;
}

.register-svg {
    display: none;
    height: 25rem;
    width: 25rem;
    position: absolute;
    left: 6rem;
    top: 10rem;
    animation: float 3s ease-in-out infinite;
}

