@import 'base/variables.css';
@import 'base/reset.css';
@import 'components/buttons.css';

.primary, .secondary, .dark, .light {
    width: 300px;
    height: 300px;
}

.primary{
    background-color: var(--primary-color);
}

.secondary{
    background-color: var(--secondary-color);
}

.dark{
    background-color: var(--background-dark);
}

.light{
    background-color: var(--background-light);
}